:root {
  --x-light:#EFF7FC;
  --light: #BAFFDF;
  --light-blue: #e2f2fc ;
  --mid-light: #70C1F3;
  --mid: #319441;
  --mid-dark: #002C56;
  --dark: #0D0038;
  --contrast: #D60033;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
  background-color: var(--x-light);
}

.card {
  background-color: var(--light);
}


/* ------------------------------------------- */

#navbar{
  background-color: var(--dark);
}

.nav-link{
  color: var(--light);
  transition: 0.4s ease-out;
}

.nav-link:active,  .nav-link:hover, .nav-link:focus {
  color:var(--x-light);
  transform: scale(1.1);
}

#nav-name{
  font-weight: 800 ;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--mid)
}

#basic-navbar-nav {
  background-color: var(--dark);
}

#nav-default{
  display: block;
}

#nav-logo{
  display: block;
}

/* ------------------------------------------- */

#signup-card , #login-card{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--light)
}

#signup-card-title , #login-card-title {
  color: var(--mid-dark);
}

.form-control{
  background-color: var(--x-light);
}

#form-label{
  color: var(--mid-dark);
}

/* ------------------------------------------- */

.task-description{
  background-color: var(--light-blue);
  border: solid;
  border-color: var(--mid);
  border-width: 1.5px;
  border-radius: 0.375rem;
}

/* ------------------------------------------- */

#date-picker{
  background-color: var(--x-light);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.react-datepicker-wrapper{
  display: flex!important;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.input-group-text{
  background-color: var(--mid-light);
  border: none;
}

.input-field{
  background-color: var(--x-light);
}

#input-group-dropdown-1{
  background-color: var(--mid-light);
  color: var(--mid-dark);
}

#input-group-dropdown-1:hover{
  background-color: var(--mid-dark);
  color: var(--mid-light)
}

/* ------------------------------------------- */

.btn {

  border: none;
  overflow-wrap: break-word;
  background-color: var(--mid-light);
  color: var(--mid-dark);

}

.btn:hover {
  background-color: var(--mid-dark);
  color: var(--mid-light)
}


/* ------------------------------------------- */

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 600ms, transform 600ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 600ms, transform 600ms;
}

/* ------------------------------------------- */

/* large */
@media screen and (max-width: 8000px) {
  #nav-logo {
    display: none;
  }
}

@media screen and (max-width: 762px) {
  #basic-navbar-nav {
    width: 100%;
    justify-content: center;
}
  .nav-link{
    padding: 1em;
  }
  #nav-list {
    align-items: center;
  }
}

/* small */
@media screen and (max-width: 355px) {
  #nav-default{
    display: none;
  } 
  #nav-logo{
    display: block;
  }
}
